<html lang="en">

    <head>
        <style>
        body {
        margin: 0px;
        padding: 0px;
    }
    .headDiv {
        width: 100%;
        height: 120px;
        background: #F9FAFB;
        text-align: start;
    }
        </style>
    </head>
    <body>
        <div class="headDiv">Hi {{ name }}
        <p>Welcome to digital finance web application</p>
        <p>Click on the link below to confirm your email</p>
        <p>
                <a href="{{ url }}">Confirm</a>
        </p></div>

    </body>
</html>
